<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Book</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <h1>Update Book</h1>

    <form class="center" method="POST" action="/books/updateBook/<%= data.id%>" >
        <input type="text" name="author" placeholder="Author"><br>
        <input type="text" name="title" placeholder="Title"><br>
        <input type="text" name="year" placeholder="Year"><br>
        <input type="text" name="price" placeholder="Price"><br>
        <input type="submit" value="Submit" ><br>
    </form>
    <h2>Author: <%= data.author%></h2>
        <h4>Title: <%= data.title%></h4>
        <p>Year: <%= data.year%></p>
        <h4>Price: <%= data.price%></h4>
        <p>Id: <%= data.id%></p>
        <form action="/books" method="GET">
            <button>Back to Books</button>
        </form>
</body>
</html>