<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User: <%= data.fName%></title>
</head>
<body>
   
    <h2>User : <%= data.fName %> <%= data.lName %></h2>
    <p>Email: <%= data.email %></p>
    <p>Password: <%= data.password %></p>

    <form action="/users/updateUser/<%= data.id%>" method="GET">
        <button>Update</button>
    </form>

    <button onclick="del(event)">Delete</button>
    
    <script>
function del(e){
    e.preventDefault()
    let url = "/users/<%=data.id%>"
    console.log(url)
    fetch(url, {
        method: 'delete',
        headers: {'Content-Type': 'application/json'}
    }).then(data => {
        data.json().then( m => {
            if(m.status){
            console.log("success")
            window.location.replace('/users/')
            }else{
                console.log("Failed")
            }
        })
    })
}
    </script> 
</body>
</html>